/* line 1, loaders.scss */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

/* line 7, loaders.scss */
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

/* line 19, loaders.scss */
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

/* line 22, loaders.scss */
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

/* line 25, loaders.scss */
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 1, activate.scss */
.activate-form {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  padding: 20px;
  text-align: center;
}
/* line 11, activate.scss */
.activate-form .step-one .error-message {
  text-align: left;
}
/* line 15, activate.scss */
.activate-form .input-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
/* line 21, activate.scss */
.activate-form .input-row-input {
  width: calc(100% - 90px);
}
/* line 24, activate.scss */
.activate-form label {
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
}
/* line 29, activate.scss */
.activate-form input[type="text"], .activate-form input[type="password"] {
  width: 100%;
  height: 40px;
  text-indent: 5px;
  border: 2px solid black;
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 38, activate.scss */
.activate-form button {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  color: #9EC6C8;
  background: black;
  padding: 0;
  font-size: 14px;
}
/* line 50, activate.scss */
.activate-form .step-two .input-row-input {
  margin: auto;
}
/* line 53, activate.scss */
.activate-form .step-two .error-message {
  margin-bottom: 10px;
}

/* line 58, activate.scss */
.step {
  display: none;
}

/* line 61, activate.scss */
[data-active-step="step-one"] .step-one,
[data-active-step="step-two"] .step-two {
  display: block;
}

/* line 65, activate.scss */
.error-message {
  display: none;
}

/* line 68, activate.scss */
.error-message.visible {
  display: inline-block;
}

/* line 71, activate.scss */
.step-two-username {
  font-weight: bold;
}

/* line 75, activate.scss */
.login-form input {
  margin-bottom: 20px;
}
/* line 78, activate.scss */
.login-form label {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

/* line 1, messages.scss */
.message-list {
  padding: 10px;
  background: #9EC6C8;
  color: #9EC6C8;
  padding-bottom: 100px;
}

/* line 7, messages.scss */
.message {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
  background: #cfe3e4;
  color: black;
  overflow-x: hidden;
}
/* line 19, messages.scss */
.message[data-own="true"] .message-meta {
  margin-bottom: 10px;
}

/* line 24, messages.scss */
.message-message {
  margin-bottom: 10px;
}

/* line 27, messages.scss */
.message-meta {
  text-align: right;
}

/* line 31, messages.scss */
.edit-message-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid black;
}

/* line 38, messages.scss */
.message-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
}

/* line 44, messages.scss */
.message-text {
  resize: none;
  font-size: 14px;
  height: 80px;
  border: 1px solid black;
  padding: 5px;
  width: calc(100%);
}

/* line 52, messages.scss */
.message-submit {
  width: 75px;
  height: 35px;
  background: black;
  color: #9EC6C8;
  text-align: center;
  border: none;
  margin-left: 10px;
  border: 1px solid #9EC6C8;
}

/* line 62, messages.scss */
.message-create {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
}

/* line 70, messages.scss */
.app-view-messages {
  height: calc(100vh - 65px);
  overflow: auto;
}

/* line 75, messages.scss */
.app-wrap.Messages footer {
  display: none;
}

/* line 80, messages.scss */
.message-action {
  color: black;
}
/* line 82, messages.scss */
.message-action span {
  margin-right: 5px;
  display: inline-block;
}

/* line 9, main.scss */
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  background: black;
}
/* line 14, main.scss */
body button, body label, body input, body textarea {
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 18, main.scss */
body * {
  box-sizing: border-box;
}

/* line 22, main.scss */
header {
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 65px;
}

/* line 31, main.scss */
.header-title {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Monoton', cursive;
  text-transform: lowercase;
  letter-spacing: 5px;
  color: black;
}
/* line 38, main.scss */
.header-title span {
  font-size: 26px;
  text-transform: lowercase;
  font-family: 'Monoton', cursive;
  line-height: 1;
  font-weight: normal;
  vertical-align: bottom;
}

/* line 47, main.scss */
header img {
  /* width: 50px; */
}

/* line 50, main.scss */
footer {
  width: 100%;
  padding: 20px;
}

/* line 54, main.scss */
.app-body {
  padding: 20px;
  margin-top: 30px;
}

/* line 58, main.scss */
.locator-wrap {
  height: calc(100vh - 65px);
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 64, main.scss */
.locator-list {
  height: 210px;
  overflow: hidden;
  position: relative;
}
/* line 68, main.scss */
.locator-list .location-list {
  width: auto;
  height: calc(100% - 50px);
  padding: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: black;
  transition: margin-left .3s ease;
}

/* line 77, main.scss */
.list-item {
  border-bottom: 1px solid silver;
  width: calc(50vw - 15px);
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 10px;
  padding: 10px;
  background: #9EC6C8;
  position: relative;
}
/* line 85, main.scss */
.list-item .spot-name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 16px;
}
/* line 91, main.scss */
.list-item .spot-name span {
  font-weight: bold;
}
/* line 94, main.scss */
.list-item .spot-name .spot-name-left {
  width: calc(100% - 25px);
}
/* line 98, main.scss */
.list-item .spot-description {
  margin-bottom: 15px;
  font-size: 14px;
}
/* line 102, main.scss */
.list-item .show-image {
  text-decoration: underline;
  margin-bottom: 15px;
}
/* line 106, main.scss */
.list-item .button-cta {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 10px;
  text-decoration: none;
}

/* line 113, main.scss */
.locator-list-control {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  background: black;
  color: #9EC6C8;
}
/* line 123, main.scss */
.locator-list-control .move-left, .locator-list-control .move-right {
  border: 1px solid #9EC6C8;
  height: 30px;
  width: 60px;
  line-height: 30px;
  text-align: center;
}
/* line 130, main.scss */
.locator-list-control .bubbles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 134, main.scss */
.locator-list-control .bubbles .bubble {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: 1px solid #9EC6C8;
  border-radius: 50%;
  background: black;
}
/* line 141, main.scss */
.locator-list-control .bubbles .bubble.active {
  background: #9EC6C8;
}

/* line 147, main.scss */
.locator-map {
  width: 100vw;
  height: calc(100vh - 275px);
}

/* line 151, main.scss */
#map {
  width: 100%;
  height: 100%;
}

/* line 155, main.scss */
.leaflet-div-icon {
  background-image: url(../images/pin.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
}
/* line 160, main.scss */
.leaflet-div-icon .center {
  background: #9EC6C8;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 8px;
}

/* line 170, main.scss */
.reporter-wrap {
  margin-bottom: 20px;
  position: relative;
}

/* line 174, main.scss */
.reporter-form {
  max-width: 320px;
  margin: auto;
  margin-top: 20px;
  width: calc(100% - 40px);
}

/* line 181, main.scss */
.clear-form-data[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}

/* line 186, main.scss */
.image-preview {
  width: 100%;
  height: 35vh;
  background-image: url(../images/image.jpg);
  background-size: cover;
  border-bottom: 2px solid black;
  position: relative;
}
/* line 193, main.scss */
.image-preview .upload-an-image {
  display: none;
  width: 100%;
  height: 100%;
  color: black;
}
/* line 195, main.scss */
.image-preview .upload-an-image[data-display="flex"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 204, main.scss */
.image-preview .upload-an-image .upload-an-image-cta {
  text-align: center;
}

/* line 209, main.scss */
.image-preview canvas {
  border: 2px solid black;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 30vh;
}

/* line 218, main.scss */
.leaflet-google-mutant, .leaflet-map-pane, .leaflet-container {
  width: 100%;
  height: 100%;
}

/* line 223, main.scss */
.form-button-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 228, main.scss */
.reporter-title {
  display: none;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid silver;
}

/* line 234, main.scss */
.reporter-form input[type=text], .reporter-form textarea {
  padding: 0 10px;
  border: 2px solid black;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 320px;
  font-size: 15px;
}

/* line 244, main.scss */
.reporter-form textarea {
  height: 100px;
}

/* line 247, main.scss */
.reporter-form input[type=file] {
  display: none;
}

/* line 250, main.scss */
.standard-label {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 254, main.scss */
.reporter-form .file-label {
  background: #9EC6C8;
  padding: 0 20px;
  height: 40px;
  line-height: 36px;
  color: black;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  width: calc(50% - 5px);
}

/* line 269, main.scss */
.button-cta {
  background: black;
  padding: 0 20px;
  height: 40px;
  color: #9EC6C8;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  font-size: 15px;
}

/* line 281, main.scss */
.reporter-form .button-cta {
  width: calc(50% - 5px);
}

/* line 285, main.scss */
.home-menu-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 500px) {
  /* line 285, main.scss */
  .home-menu-wrap {
    max-width: 360px;
    margin: auto;
  }
}
/* line 296, main.scss */
.home-menu-wrap .home-menu-button {
  cursor: pointer;
  width: calc(50vw - 30px);
  height: calc(50vw - 30px);
  border: 5px solid black;
  text-transform: uppercase;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  color: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}
/* line 313, main.scss */
.home-menu-wrap .home-menu-button .icon {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 32px;
}
@media (min-width: 500px) {
  /* line 296, main.scss */
  .home-menu-wrap .home-menu-button {
    max-width: 150px;
    max-height: 150px;
    margin: 15px;
  }
}

/* line 325, main.scss */
.button-action-menu {
  font-size: 20px;
  margin-top: 20px;
}
/* line 328, main.scss */
.button-action-menu[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}

/* line 333, main.scss */
.button-action-main {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

/* line 341, main.scss */
.app-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: #9EC6C8;
}
/* line 347, main.scss */
.app-wrap .header-wrap {
  padding-bottom: 20px;
}

/* line 351, main.scss */
.Main {
  background-image: url(../images/mobile1g2.jpg);
}
/* line 355, main.scss */
.Main .app-view:not(.app-view-main) {
  display: none;
}
/* line 359, main.scss */
.Main .button-action-main {
  visibility: hidden;
}

/* line 364, main.scss */
.Locator .button-action-main {
  color: #9EC6C8;
}
/* line 367, main.scss */
.Locator .header-wrap {
  color: #9EC6C8 !important;
  background: black;
}
/* line 370, main.scss */
.Locator .header-wrap .header-title {
  color: #9EC6C8;
}
/* line 374, main.scss */
.Locator .app-body {
  margin-top: 0;
  padding: 0;
}
/* line 379, main.scss */
.Locator .app-view:not(.app-view-locator) {
  display: none;
}

/* line 385, main.scss */
.Add .app-body {
  margin-top: 0;
  padding: 0;
}
/* line 389, main.scss */
.Add .button-action-main {
  color: #9EC6C8;
}
/* line 392, main.scss */
.Add .header-wrap {
  color: #9EC6C8 !important;
  background: black;
}
/* line 395, main.scss */
.Add .header-wrap .header-title {
  color: #9EC6C8;
}
/* line 400, main.scss */
.Add .app-view:not(.app-view-add) {
  display: none;
}

/* line 406, main.scss */
.Skaters .app-body, .Users .app-body {
  margin-top: 0;
  padding: 0;
}
/* line 410, main.scss */
.Skaters .button-action-main, .Users .button-action-main {
  color: #9EC6C8;
}
/* line 413, main.scss */
.Skaters .header-wrap, .Users .header-wrap {
  color: #9EC6C8 !important;
  background: black;
}
/* line 416, main.scss */
.Skaters .header-wrap .header-title, .Users .header-wrap .header-title {
  color: #9EC6C8;
}
/* line 421, main.scss */
.Skaters .app-view:not(.app-view-skaters), .Users .app-view:not(.app-view-skaters) {
  display: none;
}

/* line 427, main.scss */
.Crews .app-body {
  margin-top: 0;
  padding: 0;
}
/* line 431, main.scss */
.Crews .button-action-main {
  color: #9EC6C8;
}
/* line 434, main.scss */
.Crews .header-wrap {
  color: #9EC6C8 !important;
  background: black;
}
/* line 437, main.scss */
.Crews .header-wrap .header-title {
  color: #9EC6C8;
}
/* line 442, main.scss */
.Crews .app-view:not(.app-view-crews) {
  display: none;
}

/* line 448, main.scss */
.Messages .app-body {
  margin-top: 0;
  padding: 0;
}
/* line 452, main.scss */
.Messages .button-action-main {
  color: #9EC6C8;
}
/* line 455, main.scss */
.Messages .header-wrap {
  color: #9EC6C8 !important;
  background: black;
  border-bottom: 1px solid #9EC6C8;
}
/* line 459, main.scss */
.Messages .header-wrap .header-title {
  color: #9EC6C8;
}
/* line 464, main.scss */
.Messages .app-view:not(.app-view-messages) {
  display: none;
}

/* line 469, main.scss */
.coords {
  color: black;
  font-size: 15px;
  margin-top: 20px;
}

/* line 474, main.scss */
.slide-menu {
  width: 100vw;
  opacity: 0;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  border-bottom: 1px solid #707070;
  padding: 20px;
  transition: transform .3s ease, opacity .3s ease;
  transform: translate(100%, 0);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10000;
}

/* line 492, main.scss */
.app-wrap.menu-open-true .slide-menu {
  transform: translate(0, 0);
  opacity: 1;
}

/* line 498, main.scss */
.slide-menu-item {
  padding: 10px 20px;
  padding-right: 0;
  font-size: 18px;
  color: #9EC6C8;
  margin-bottom: 10px;
  text-align: right;
  cursor: pointer;
}

/* line 507, main.scss */
.slide-menu-close {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 20px;
  color: #9EC6C8;
}

/* line 513, main.scss */
.slide-menu-action {
  display: none;
}

/* line 517, main.scss */
.slide-menu-action-active .slide-menu-item {
  display: none;
}
/* line 520, main.scss */
.slide-menu-action-active .slide-menu-action.active {
  display: block;
}

/* line 524, main.scss */
.skater-list-item-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid black;
  background: #9EC6C8;
  height: 60px;
}

/* line 533, main.scss */
.skater-list-name {
  color: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 537, main.scss */
.skater-list-name > span {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

/* line 543, main.scss */
.skater-list-count {
  color: black;
  text-align: left;
  margin-left: 5px;
}
/* line 547, main.scss */
.skater-list-count span {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

/* line 553, main.scss */
.skater-list-cta {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: black;
  color: #9EC6C8;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
}
/* line 564, main.scss */
.skater-list-cta:last-child {
  margin-right: 0;
}

/* line 568, main.scss */
.mode-add-skater {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 20px 20px 40px 20px;
  background-image: url(../images/image2.jpg);
  background-size: cover;
  height: 35vh;
  border-bottom: 2px solid black;
}
/* line 578, main.scss */
.mode-add-skater .skaters-crew-name {
  text-align: center;
  width: 100%;
}
/* line 581, main.scss */
.mode-add-skater .skaters-crew-name.with-border {
  padding-bottom: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
/* line 587, main.scss */
.mode-add-skater .form-wrap {
  width: 100%;
}
/* line 588, main.scss */
.mode-add-skater .form-wrap form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 594, main.scss */
.mode-add-skater .form-wrap input[type="text"] {
  height: 40px;
  width: calc(100% - 90px);
  border: 2px solid black;
  font-size: 15px;
  text-indent: 5px;
}
/* line 601, main.scss */
.mode-add-skater .form-wrap button {
  font-size: 15px;
  height: 40px;
  width: 80px;
  padding: 0 10px;
  background: black;
  color: #9EC6C8;
  border: none;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}
/* line 613, main.scss */
.mode-add-skater .form-wrap .skater-type-radio {
  background: black;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 10px;
  background: #9EC6C8;
}
/* line 623, main.scss */
.mode-add-skater .form-wrap .skater-type-radio > span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
  display: none;
}
/* line 634, main.scss */
.mode-add-skater .form-wrap .skater-type {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-right: 25px;
}
/* line 645, main.scss */
.mode-add-skater .form-wrap .skater-type[data-selected="true"] .skater-type-radio > span {
  display: block;
}
/* line 650, main.scss */
.mode-add-skater .form-wrap input[type="radio"] {
  width: .1px;
  height: .1px;
  position: absolute;
  opacity: 0;
}

/* line 658, main.scss */
.skater-list-cta-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 661, main.scss */
.skater-list-cta-group .skater-list-cta {
  margin-left: 20px;
}

/* line 665, main.scss */
.skater-share-link {
  padding-top: 10px;
  position: fixed;
  width: 90vw;
  left: 5vw;
  top: 5vw;
  background: #9EC6C8;
  color: black;
  border: 2px solid black;
  padding: 20px;
}
/* line 675, main.scss */
.skater-share-link > div {
  margin-bottom: 20px;
}
/* line 678, main.scss */
.skater-share-link .copy-link-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0;
}
/* line 682, main.scss */
.skater-share-link .copy-link-wrap #copy-link {
  width: calc(100% - 90px);
  padding: 5px;
  border: 2px solid black;
  height: 40px;
}
/* line 688, main.scss */
.skater-share-link .copy-link-wrap button {
  width: 80px;
  background: black;
  color: #9EC6C8;
  border: none;
  text-transform: uppercase;
  height: 40px;
  cursor: pointer;
}
/* line 698, main.scss */
.skater-share-link .skater-share-title {
  font-size: 18px;
}
/* line 701, main.scss */
.skater-share-link .skater-share-instructions {
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
/* line 706, main.scss */
.skater-share-link .share-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 709, main.scss */
.skater-share-link .share-links > a {
  color: black;
}
/* line 713, main.scss */
.skater-share-link .slide-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

/* line 720, main.scss */
.loading-bg {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(158, 198, 200, 0.85);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 729, main.scss */
.loading-bg[data-visible="true"] {
  display: block;
}
/* line 732, main.scss */
.loading-bg .loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 738, main.scss */
.loading-bg .loading-message {
  text-align: center;
  margin-top: 70px;
  font-size: 32px;
  color: black;
}

/* line 746, main.scss */
.leaflet-popup .leaflet-popup-tip {
  border: 1px solid black;
  background: #9EC6C8;
}
/* line 750, main.scss */
.leaflet-popup .leaflet-popup-content-wrapper {
  background: #9EC6C8;
}

/* line 754, main.scss */
.leaflet-popup-content {
  margin: 5px;
}

/* line 757, main.scss */
.popup-wrap {
  width: 220px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 760, main.scss */
.popup-wrap .popup-image {
  width: 100%;
  min-height: 100px;
}
/* line 763, main.scss */
.popup-wrap .popup-image img {
  height: auto;
  width: 100%;
}
/* line 768, main.scss */
.popup-wrap .popup-name {
  margin: 5px 0;
  font-size: 16px;
  color: black;
}
/* line 773, main.scss */
.popup-wrap .popup-description {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 777, main.scss */
.popup-wrap .button-cta {
  color: #9EC6C8;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  display: block;
  margin: auto;
  width: 80%;
}

/* line 788, main.scss */
.app-view-skaters .skater-list-cta {
  display: none;
}

/*# sourceMappingURL=main.css.map */
