$green: #71eeb8;
$darkgreen: #052919;

@mixin flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flex-wrap($wrap){
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}
@mixin flex-direction($dir){
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
    flex-direction: $dir;
}
@mixin justify-content($justify){
    -webkit-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
}
@mixin align-items($align){
    -ms-align-items: $align;
    -webkit-align-items: $align;
    align-items: $align;
}
@mixin align-self($align){
    -ms-align-self: $align;
    -webkit-align-self: $align;
    align-self: $align;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    background: #71eeb8;
}
body * {
    box-sizing: border-box;
}
header {
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    @include flex();
    @include justify-content(space-between);
    @include align-items(flex-end);
}
.header-title {
    font-size: 16px;
    font-weight: bold;
}
header img {
    /* width: 50px; */
}
footer {
    width: 100%;
    padding: 20px;
    background: $green;
}
.app-body {
    padding: 20px;
}
.locator-wrap {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.locator-list {
    width: 320px;
    border-top: 1px solid silver;
    padding-top: 20px;
}
.list-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}
.locator-map {
    width: calc(100% - 340px);
}
#map {
    width: 100%;
    height: 100%;
}
.reporter-wrap {
    margin-bottom: 20px;
}
.image-preview {
    margin: 20px 0;
}
.image-preview canvas {
    width: 100%;
    max-width: 400px;
}
@media (max-width: 767px) {
    .locator-map {
        width: 100%;
        position: absolute;
    }
}
.reporter-title {
    display: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}
.reporter-form input[type=text], .reporter-form textarea {
    padding: 0 10px;
    border: 1px solid $darkgreen;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 320px;
    font-size: 15px;
}
.reporter-form textarea {
    height: 100px;
}
.reporter-form input[type=file] {
    display: none;
}
.standard-label {
    display: none;
    margin-bottom: 10px;
}
.reporter-form .file-label {
    background: white;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: $darkgreen;
    text-align: center;
    border: 1px solid $darkgreen;
    display: inline-block;
    font-size: 15px;
}

.button-cta {
    background: $darkgreen;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 15px;
}

.home-menu-wrap {
    @include flex();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    width: 100%;
    .home-menu-button {
        cursor: pointer;
        width: calc(50% - 10px);
        margin-bottom: 20px;
        // border: 1px solid $darkgreen;
        border-radius: 3px;
        background: white;
        color: $darkgreen;
        @include flex();
        @include align-items(center);
        @include justify-content(center);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        height: 100px;
        box-shadow: 0px 3px 5px $darkgreen;
    }
}
.button-action-menu {
    font-size: 20px;
    margin-top: 20px;
}
.button-action-main {
    font-size: 20px;
    color: $darkgreen;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}
.Main {
    .app-view {
        &:not(.app-view-main) {
            display: none;
        }
    }
    .button-action-main {
        visibility: hidden;
    }
}
.Locator {
    .app-view {
        &:not(.app-view-locator) {
            display: none;
        }
    }
}
.Add {
    .app-view {
        &:not(.app-view-add) {
            display: none;
        }
    }
}
.Skaters, .Users {
    .app-view {
        &:not(.app-view-skaters) {
            display: none;
        }
    }
}
.Crews {
    .app-view {
        &:not(.app-view-crews) {
            display: none;
        }
    }
}
.coords {
    color: black;
    font-size: 15px;
    margin-top: 20px;
}
.slide-menu {
    width: 100vw;
    opacity: 0;
    height: auto;
    position: absolute;
    left: 0;
    background: white;
    border-bottom: 1px solid $darkgreen;
    padding: 20px;
    transition: transform .3s ease, opacity .3s ease;
    transform: translate(100%, 0);
    @include flex();
    @include flex-direction(column);
}
.app-wrap {
    &.menu-open-true {
        .slide-menu {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}
.slide-menu-item {
    background: white;;
    padding: 10px 20px;
    padding-right: 0;
    font-size: 18px;
    color: $darkgreen;
    margin-bottom: 10px;
    text-align: right;
}
.slide-menu-close {
    @include align-self(flex-end);
    margin-bottom: 20px;
    font-size: 20px;
}
.slide-menu-action {
    display: none;
}
.slide-menu-action-active {
    .slide-menu-item {
        display: none;
    }
    .slide-menu-action.active {
        display: block;
    }
}
.skater-list-item-wrap {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    padding: 10px 0px;
    border-bottom: 1px solid $darkgreen;
}
.skater-list-cta {
    padding: 5px 10px;
    text-align: center;
    background: $darkgreen;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.mode-add-skater {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 1px solid $darkgreen;
    padding-bottom: 10px;
    .form-wrap {
        @include flex();
        input[type="text"] {
            height: 40px;
            width: 120px;
            border: 1px solid $darkgreen;
        }
        button {
            height: 40px;
            padding: 0 10px;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase;
        }
    }
}