/* line 39, main.scss */
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  background: #71eeb8;
}

/* line 45, main.scss */
body * {
  box-sizing: border-box;
}

/* line 48, main.scss */
header {
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* line 56, main.scss */
.header-title {
  font-size: 16px;
  font-weight: bold;
}

/* line 60, main.scss */
header img {
  /* width: 50px; */
}

/* line 63, main.scss */
footer {
  width: 100%;
  padding: 20px;
  background: #71eeb8;
}

/* line 68, main.scss */
.app-body {
  padding: 20px;
}

/* line 71, main.scss */
.locator-wrap {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 77, main.scss */
.locator-list {
  width: 320px;
  border-top: 1px solid silver;
  padding-top: 20px;
}

/* line 82, main.scss */
.list-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid silver;
}

/* line 87, main.scss */
.locator-map {
  width: calc(100% - 340px);
}

/* line 90, main.scss */
#map {
  width: 100%;
  height: 100%;
}

/* line 94, main.scss */
.reporter-wrap {
  margin-bottom: 20px;
}

/* line 97, main.scss */
.image-preview {
  margin: 20px 0;
}

/* line 100, main.scss */
.image-preview canvas {
  width: 100%;
  max-width: 400px;
}

/* line 104, main.scss */
.leaflet-google-mutant, .leaflet-map-pane, .leaflet-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  /* line 109, main.scss */
  .locator-map {
    width: 100%;
    position: absolute;
    height: calc(100vh - 80px);
  }
}
/* line 115, main.scss */
.reporter-title {
  display: none;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid silver;
}

/* line 121, main.scss */
.reporter-form input[type=text], .reporter-form textarea {
  padding: 0 10px;
  border: 1px solid #083f31;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 320px;
  font-size: 15px;
}

/* line 131, main.scss */
.reporter-form textarea {
  height: 100px;
}

/* line 134, main.scss */
.reporter-form input[type=file] {
  display: none;
}

/* line 137, main.scss */
.standard-label {
  display: none;
  margin-bottom: 10px;
}

/* line 141, main.scss */
.reporter-form .file-label {
  background: white;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #083f31;
  text-align: center;
  border: 1px solid #083f31;
  display: inline-block;
  font-size: 15px;
}

/* line 153, main.scss */
.button-cta {
  background: #083f31;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 15px;
}

/* line 167, main.scss */
.home-menu-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
/* line 172, main.scss */
.home-menu-wrap .home-menu-button {
  cursor: pointer;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  border-radius: 3px;
  background: white;
  color: #083f31;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  box-shadow: 0px 3px 5px #083f31;
}

/* line 190, main.scss */
.button-action-menu {
  font-size: 20px;
  margin-top: 20px;
}

/* line 194, main.scss */
.button-action-main {
  font-size: 20px;
  color: #083f31;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

/* line 203, main.scss */
.Main .app-view:not(.app-view-main) {
  display: none;
}
/* line 207, main.scss */
.Main .button-action-main {
  visibility: hidden;
}

/* line 213, main.scss */
.Locator .app-view:not(.app-view-locator) {
  display: none;
}

/* line 220, main.scss */
.Add .app-view:not(.app-view-add) {
  display: none;
}

/* line 227, main.scss */
.Skaters .app-view:not(.app-view-skaters), .Users .app-view:not(.app-view-skaters) {
  display: none;
}

/* line 234, main.scss */
.Crews .app-view:not(.app-view-crews) {
  display: none;
}

/* line 239, main.scss */
.coords {
  color: black;
  font-size: 15px;
  margin-top: 20px;
}

/* line 244, main.scss */
.slide-menu {
  width: 100vw;
  opacity: 0;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  border-bottom: 1px solid #083f31;
  padding: 20px;
  transition: transform .3s ease, opacity .3s ease;
  transform: translate(100%, 0);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 261, main.scss */
.app-wrap.menu-open-true .slide-menu {
  transform: translate(0, 0);
  opacity: 1;
}

/* line 267, main.scss */
.slide-menu-item {
  background: white;
  padding: 10px 20px;
  padding-right: 0;
  font-size: 18px;
  color: #083f31;
  margin-bottom: 10px;
  text-align: right;
}

/* line 276, main.scss */
.slide-menu-close {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 20px;
}

/* line 281, main.scss */
.slide-menu-action {
  display: none;
}

/* line 285, main.scss */
.slide-menu-action-active .slide-menu-item {
  display: none;
}
/* line 288, main.scss */
.slide-menu-action-active .slide-menu-action.active {
  display: block;
}

/* line 292, main.scss */
.skater-list-item-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #083f31;
}

/* line 299, main.scss */
.skater-list-cta {
  padding: 5px 10px;
  text-align: center;
  background: #083f31;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
}
/* line 307, main.scss */
.skater-list-cta:last-child {
  margin-right: 0;
}

/* line 311, main.scss */
.mode-add-skater {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #083f31;
  padding-bottom: 10px;
}
/* line 317, main.scss */
.mode-add-skater .form-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 319, main.scss */
.mode-add-skater .form-wrap input[type="text"] {
  height: 40px;
  width: 120px;
  border: 1px solid #083f31;
}
/* line 324, main.scss */
.mode-add-skater .form-wrap button {
  height: 40px;
  padding: 0 10px;
  background: #083f31;
  color: white;
  margin-left: 20px;
  border: none;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}

/* line 338, main.scss */
.skater-share-link {
  padding-top: 10px;
}
/* line 341, main.scss */
.skater-share-link > div {
  margin-bottom: 10px;
}
/* line 344, main.scss */
.skater-share-link .copy-link-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 347, main.scss */
.skater-share-link .copy-link-wrap #copy-link {
  width: calc(100% - 90px);
  padding: 5px;
  border: 1px solid #083f31;
  margin-bottom: 10px;
  height: 40px;
}
/* line 354, main.scss */
.skater-share-link .copy-link-wrap button {
  width: 80px;
  background: #083f31;
  color: white;
  border: none;
  text-transform: uppercase;
  height: 40px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
